# Logs
*.log
npm-debug.log
yarn-error.log

# OS / Editor
.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Env
.env
.env.backup
.env.production

# Laravel
/vendor
node_modules/
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail

# Laravel 4
bootstrap/compiled.php
app/storage/

# Laravel 5
public_html/storage
public_html/hot

# Config
Homestead.yaml
Homestead.json
auth.json
/.vagrant
.phpunit.result.cache
.phpactor.json
/.phpunit.cache